DATABASE_URL=postgresql://postgres:hmC8NkyoHAkZZtTY@db.ncnqbivgoznfokhozmta.supabase.co:5432/postgres
DB_Password=hmC8NkyoHAkZZtTY
# SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jbnFiaXZnb3puZm9raG96bXRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjcyNTYsImV4cCI6MjA1OTg0MzI1Nn0.3RR2wxshINQMUcXY5OKgTFWYilquuMxtbXvG8XDEO8Y
# SUPABASE_URL=https://ncnqbivgoznfokhozmta.supabase.co
# Environment
# NODE_ENV=production
PORT=6000

# Session Configuration
SESSION_SECRET=your_session_secret_here
CLOUDINARY_CLOUD_NAME= dnwh46rea
CLOUDINARY_API_KEY=114881635491493
CLOUDINARY_API_SECRET=7dDNbqS31WFQ4PL7AjfZdQozB0Y
VITE_SITE_URL=https://pling.com
